html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(103, 103, 103);
}
h1{
    font-family: 'Lora', serif;
    color: rgb(51, 51, 51);
}
ul{
    list-style-type: none;
    margin: 1rem;
}
.container{
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); 
    background: rgb(248, 246, 245);
}
nav{
    display: flex;
    background-color: rgb(248, 246, 245);
    align-items: stretch;
    flex-direction:row;
    margin-right: 15rem;
    font-family: 'Lora', serif;
    font-size: 12px;
    line-height: 1.1;
    color: rgb(161, 161, 161);
    justify-content: space-evenly;
}
.nav-logo{
    margin-right: 30rem;
    max-width: 100%;
}
.menu-icon{
    display: flex;
    align-items: flex-start;
    margin-right: 0rem;
}
.nav-icon{
    display: flex;
    align-items: flex-start;
    justify-content: right;
    margin-left: 0rem;
}
.card{
    margin: 8rem;
    padding: 2rem;
    display: block;
    text-align: center;
    justify-content: center;
}
.card-projects{
    display:grid;
    grid-template-columns: 500px 500px 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
button{
    font-family: 'Lora', serif;
    font-size: 18px;
    color: rgb(82, 81, 81);
    border: 0;
    text-align: center;
    background: rgb(170, 169, 169);
    padding: 1.5rem;
    margin: 2rem;
}
.button_footer{
    font-family: 'Lora', serif;
    font-size: 18px;
    color: rgb(82, 81, 81);
    border: black 2px;
    text-align: center;
    background: rgb(170, 169, 169);
    padding: .5rem;
    padding-left: 8rem;
    padding-right: 8rem;  
    margin: 2rem;
}   
.container-footer{
    display: flex;
    align-items: stretch;
    flex-direction:row;
    justify-content: space-between;
}

.footer{
    font-size: x-small;
    padding: 2rem;
    background-color: rgb(61, 60, 60);
    flex-flow: wrap;
    margin: 1rem;

}
.footer-contact{
    display: flex;
    align-items: stretch;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between

}