html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(103, 103, 103);
}
h1{
    font-family: 'Lora', serif;
    color: rgb(51, 51, 51);
}
.container{
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); 
    background: rgb(248, 246, 245);
}
nav{
    justify-content: right;
}
.card{
    margin: 8rem;
    padding: 2rem;
    justify-content: center;
}
.item1{
    color: salmon;
}